<!DOCTYPE html>
<html>
  <head>
    <title>ABV Port</title>
    <style>
      h1{
      font-size: 60px;
      font-family: Roboto;
      font-weight: normal;
      color: rgb(23,120,255);
      text-align: center;
      }
      #banner{
        width= 100%;
        height= 360px;
        object-fit= cover;
      }
      h2{
        font-family: Roboto;
        font-size: 32px;
        color: rgb(46,240,255);
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>ABV Port</h1>
    <img id="banner" src="https://98c1a872-9dec-4fa6-895f-69f9d0aea669-00-m2nbzsnkyo3s.riker.replit.dev/static/banner.jpg">
    <h2>About ABV Port</h2>
    <p>
      ABV Port is a website that allows you to view and download ABV Port project files, simulations and data structures. The goal being to disseminate the ABV Port project to the community and to display the qualifications of our team members.   
    </p>
    <h2>ABV Port Projects</h2>
    <p>TODO- show projects here </p>
    <button>Contact Us</button>
    
  </body>
</html>